#ctmain>div:first-child {
	font-size: 160%;
}

/*#ctmain>div:first-child>div {
	padding: 10px;
}*/

#mdbody #ctmain {
	padding: 10px;
}

#mdbody img {
	width: 100%;
}

#mdbody .blockquote {
	color: gray;
}
